@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gotu&display=swap");
body {
    font-family: "Gotu", sans-serif;
}

.mt-4 {
    margin-top: 6rem;
}

.mb-4 {
    margin-bottom: 6rem;
}

// NAVBAR
.navbar-item {
    a {
        color: #4a4a4a;
    }
}

a.navbar-item:hover {
    color: #1fab89;
}

a.navbar-item:focus {
    color: #1fab89;
}

.navbar-link:hover {
    color: #1fab89;
}

.navbar-link:focus {
    color: #1fab89;
}

.navbar-link:not(.is-arrowless)::after {
    color: black;
    border-color: black;
}

.navbar-brand a {
    padding: 0.25 0.75rem;
}

.navbar-item img {
    max-height: 6rem;
}

.footer {
    background-color: #f0ece6;
    padding: 2.5rem 1.5rem 1.5rem;
}

.footer_sections {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.left_footer_section {
    width: 25vw;
    font-size: 1.25rem;
    padding-right: 2rem;
    padding-left: 2rem;
}

.middle_footer_section {
    width: 25vw;
}

.right_footer_section {
    width: 25vw;
    padding-right: 2rem;
    padding-left: 2rem;
}

.mt-1 {
    margin-top: 1.5rem;
}

.bone {
    height: 1.25rem;
    margin-right: 0.5rem;
}

.list_flex {
    display: flex;
}

.field:last-of-type {
    margin-bottom: 0;
}

.mb_none {
    margin-bottom: 0 !important;
}


/* .navbar-start {
    margin-left: auto;
    margin-right: none !important;
} */

.slideshow-styles {
    width: 35vw;
}

.inline {
    display: flex;
}

.flex_it {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.form_width {
    width: 40%;
}

// .slide_section {
// }
@media (max-width: 1024px) {
    .left_footer_section {
        width: 25vw;
        font-size: 1.25rem;
        padding-right: 0rem;
        padding-left: 0rem;
    }
}

@media (max-width: 416px) {
    .lower_text {
        display: flex;
        flex-direction: column;
    }
    .left_about_text {
        width: 100%;
    }
    .right_about_text {
        width: 100%;
    }
    .flex_it {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .slideshow-styles {
        width: 100vw;
        height: 100%;
    }
    .vue-flux>.flux-image {
        width: 100% !important;
        background-size: 100vw !important;
        height: 100% !important;
    }
    .form_width {
        width: 100%;
        margin-top: 2rem;
    }
    .mt-4 {
        margin-top: 0;
    }
    .mb-4 {
        margin-bottom: 0;
    }
    .inline {
        width: 100vw;
    }
    .footer_sections {
        justify-content: space-between;
    }
    .left_footer_section {
        font-size: 0.75rem;
        width: 40vw;
    }
    .middle_footer_section {
        width: 40vw;
    }
    .mt-2 {
        margin-top: 3rem;
    }
    .mb-2 {
        margin-bottom: 3rem !important;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    .hero {
        height: 35vh;
    }
}